
#root{
  height: 100vh;
  display: flex;
  flex-direction: column;

  .App{
      display:flex;
      flex-direction: column;
    
     label{
      display: block;
     } 
  }
  .page > *{
      flex-grow: 1;
      display: grid;
      place-items: center;
  }

}

#sign-in-container{
}